<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TM_012P_Setup_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
      <add key="inputtype" value="0" />
      <add key="pvgain" value="100" />
      <add key="pvadj" value="0" />
      <add key="pvfil" value="1" />
      <add key="c_f" value="0" />
      <add key="slh" value="13720" />
      <add key="sll" value="-2000" />
      <add key="inv" value="0" />
      <add key="inh" value="2000" />
      <add key="inl" value="400" /> 
  </appSettings>
    <startup>  
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TM_012P_Setup_Program.Properties.Settings>
            <setting name="input" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c_f" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pvgain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pvadj" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pvfil" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="slh" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="sll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inh" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="inl" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="swver" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="defaultset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>0</value>
            </setting>
        </TM_012P_Setup_Program.Properties.Settings>
    </userSettings>
</configuration>