<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="inputtype" value="0" />
      <add key="pvgain" value="100" />
      <add key="pvadj" value="0" />
      <add key="pvfil" value="1" />
      <add key="c_f" value="0" />
      <add key="slh" value="13720" />
      <add key="sll" value="-2000" />
      <add key="inv" value="0" />
      <add key="inh" value="2000" />
      <add key="inl" value="400" /> 
  </appSettings>
    <startup>  
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>